{% extends "base.html" %}

{% block navbar_content %}
	<li><a href="/">首页</a></li>
<li><a href="{{ url_for('blog') }}">博客专区</a></li>
	<li><a href="{{ url_for('quick_search_form') }}">快捷方式</a></li>
    <form class="navbar-form navbar-left" action="{{ url_for('search_author') }}" method="get">
        <div class="form-group">
            <input name="A" type="text" class="form-control" placeholder="输入作者">
        </div>
        <button type="submit" class="btn btn-default">查找</button>
    </form>
{% endblock %}