{% extends "base03.html" %}
{% block title %}博客专区{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>博客
        <small>
            {% block subtitle %}
                专区
            {% endblock %}
        </small>
    </h1>
</div>

{% block extra %} {% endblock %}
<ul class="posts">
    <div class="btn-group">
        <button type="button" class="btn btn-default"
                onclick="window.location.href='{{ url_for('blog') }}'">
            所有文章
        </button>

        <button type="button" class="btn btn-default"
                onclick="window.location.href='{{ url_for('article') }}'">
            发布文章
        </button>
            <script>
            var buttons = document.getElementsByClassName("articles-blog")[0].getElementsByClassName("btn-default");
        </script>
    </div>
    {% for article in articles %}
        <li class="post">
            <div class="thumbnail" style="width:50px; height:50px;">
                <img src="{{ url_for('static',filename='code200.jpg') }}">
            </div>
            <b style="font-size:15px;position:relative;left:55px;top:-60px;">
                {% if um %}
                    {% if um.username == article.author.username %}
                        (我)
                    {% endif %}
                    {% if article.author.username == '韩天浩' or article.author.username == 'test1' or article.author.username == 'Ceptionday' %}
                        (管理员)
                    {% endif %}
                {% endif %}
                <a href="{{ url_for('user_detail',user_id=article.author.id) }}">{{ article.author.username[0:65] }}{% if article.author.username[65] %}......{% endif %}</a>：
            </b>
            <div><p style="font-size:20px;color:#0088FF;position:relative;top:-35px;"><b>
                    {% if um %}
                        <a href="{{ url_for('detail', article_id=article.id) }}">{{ article.title }}</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">{{ article.title }}</a>
                    {% endif %}
                </b></p>

                <p style="position:relative;top:-20px;word-break:break-all;">
                    {{ article.content[0:1500]|striptags|replace("__N__", "<br>")|replace("__S__", "&nbsp;")|safe }}
                    {% if article.content[1499] %}
                        <b style="color:#000088">......已省略更多({{ article.content|length }}/1500)</b>
                    {% endif %}
                </p>
            </div>
            <span class="label label-info" style="font-size:13px;color:#FFFFFF;">
                发布于{{ article.create_time.strftime('%Y/%m/%d %H:%M:%S') }}
            </span>
        </li>
    {% endfor %}
</ul>
{% endblock %}