{% extends "base.html" %}

{% block title %}等级制度详情{% endblock %}
​
{% block page_content %}
<div class="page-header">
<center><h1>本网站已确立等级制度，详情如下</h1></center>
</div>
<div class="container">
    <center>
        <b><i>
        <h6 style="color:#BFBFBF">当未发布任何文章时个人资料为灰名</h6>
        <h5 style="color:#3498DB">当发布文章数量为一篇及以上至二十篇以下时个人资料为蓝名</h5>
        <h4 style="color:#52C41A">当发布文章数量为二十篇及以上至五十篇以下时个人资料为绿名</h4>
        <h3 style="color:#F39C11">当发布文章数量为五十篇及以上至一百篇以下时个人资料为橙名</h3>
        <h2 style="color:#FE4C61">当发布文章数量在一百篇及以上时个人资料为红名</h2>
        <h1 style="color:#9D3DCF">管理员永远为紫名</h1>
        </i></b>
    </center>
</div>
{% endblock %}